@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "HelveticaNeue";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета


// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию


// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 0;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 90;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S 

// $pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tabletBig: em(1023.98); 
// $tablet: em(991.98); 
// $tabletSmall: em(767.98); 
// $mobileBig: em(539.98); 
// $mobile: em(413.98);
// $mobileSmall: em(374.98); 

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	font-weight: 400;
	background-color: grey;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Сайт загружен
	.loaded & {
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

//========================================================================================================================================================

[class*=__container] {
	@media (max-width: em(991)){
		padding: 0 rem(15); 
	}
}

.page {
	&__screen {
		position: relative;
		width: 100vw;
		height: 100vh;
		display: flex;
	}
}

.screen {

	&__box {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 60;
		height: 100%;
		transition: all 0.8s ease 0s;
	}

	&__main {
	}
}
.box-screen {
	width: 35.83%;
	// width: 100%;
	background-color: #0D2644;
	overflow: hidden;
	&._level-1 {
		background-color: #1C9D35;
	}
	&._level-2 {
		background-color: #2A5539;
	}
	&._level-3 {
		background-color: #46398B;
	}
	&._level-4 {
		background-color: #C679B8;
	}
	&__wrapper {
		position: relative;
		padding: rem(170) rem(45) rem(93) rem(45);
		height: 100%;
		._first & {
			&::before{
				content:''; 
				position: absolute; 
				top: 0;
				left: 0;
				transform: translate(-65%, -58%);
				width: 100%;
				height: 100%;
				background: radial-gradient(50% 50% at 50% 50%, #83CFF4 0%, rgba(131, 207, 244, 0) 85.5%);
				// backdrop-filter: blur(169.3000030517578px);
			}
			&::after{
				content:''; 
				position: absolute; 
				bottom: 0;
				transform: translate(65%, 58%);
				width: 100%;
				height: 100%;
				background: radial-gradient(50% 50% at 50% 50%, #83CFF4 0%, rgba(131, 207, 244, 0) 85.5%);
				// backdrop-filter: blur(169.3000030517578px);
			}
		}
	}
	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__header {
		&:not(:last-child){
			margin-bottom: rem(25);
		}
	}
	&__body {
		flex: 1 1 auto;
	}
}

.box-screen__icons {
	position: absolute;
	right: 0;
	z-index: 3;
	transform: translateX(15%);
} 
.box-screen__icons_left {
	top: 0;
}
.box-screen__icons_right {
	bottom: 0;
}

.header-box-screen {
	&__title {
		font-size: rem(14.43);
		font-weight: 400;
		line-height: math.div(20.75, 14.43);
		color: #fff;
		text-transform: uppercase;
	}
	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(8);
	}

	&__btn {
		background-color: inherit;
		border: 0.0456rem solid #FFFFFF;
	}
}

.footer-box-screen {
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(99);
		height: rem(96);
		overflow: hidden;
		border-radius: 50%;
		&:not(:last-child){
			margin-bottom: rem(40);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__slogan {
		font-size: rem(66);
		font-weight: 400;
		line-height: math.div(73.86, 66);
		color: #fff;
		text-transform: uppercase;
		span {
			color: #09AEE5;
		}
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 26, 15);
		}
	}

	&__capital {
		font-size: rem(46);
		font-weight: 500;
		line-height: math.div(71.87, 46);
		letter-spacing: 0.2042rem;
		color: #fff;
		text-transform: uppercase;
	}

	&__name {
		font-size: rem(18.52);
		font-weight: 500;
		line-height: math.div(28.93, 18.52);
		letter-spacing: rem(1);
		color: #8bcd98;
		text-transform: uppercase;
		&:not(:last-child){
			margin-bottom: rem(12);
		}
	}

	&__info {
		font-size: rem(16);
		font-weight: 400;
		line-height: math.div(24, 16);
		color: #fff;
		text-transform: uppercase;
		&:not(:last-child){
			margin-bottom: rem(86);
		}
	}

	&__btn {
		background-color: #09AEE5;
	}
	.btn_green {
		background-color: #49b15d;
	}
	.btn_dark-green {
		background-color: #557761;
	}
	.btn_violet {
		background-color: #6b61a1;
	}
	.btn_pink {
		background-color: #d194c6;
	}
}

.box-screen._level-3 {
	.footer-box-screen__name {
		color: #a19ac4;
		&:not(:last-child){
			margin-bottom: rem(35);
		}
	}
	.footer-box-screen__info {
		text-transform: none;
	}
}

.box-screen._level-4 {
	.footer-box-screen__name {
		color: #e2bbdb;
		&:not(:last-child){
			margin-bottom: rem(12);
		}
	}
	.footer-box-screen__info {
		text-transform: none;
	}
}

.main-screen {
	position: relative;
	width: 100%;
	&__label {
		position: absolute;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
	}
}
.main-screen__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.main-screen__animation-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-34%, -53%);
	z-index: 10;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
	}
}

.label-screen {
	max-width: rem(163);
	width: 100%;
	height: rem(44);
	display: flex;
	align-items: center;
	gap: rem(9);
	padding: rem(7);
	overflow: hidden;
	border-radius: rem(50);
	&_1 {
		left: 46%;
    bottom: 41%;
		background-color: #03A438;
	}
	&_2 {
		max-width: rem(256);
		height: rem(56);
		left: 43%;
    bottom: 30%;
		background-color: #2A5539;
	}
	&_3 {
		max-width: rem(163);
		height: rem(56);
		right: 17%;
    bottom: 57%;
		background-color: #4A3D90;
	}
	&_4 {
		max-width: rem(158);
		height: rem(56);
		right: 16%;
    bottom: 20%;
		background-color: #BF7CB3;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(31);
		height: rem(31);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		font-size: rem(16);
		color: #fff;
	}
}

.label-screen.label-screen_2 {
	.label-screen__icon {
		width: rem(41);
		height: rem(41);
	}
	.label-screen__name {
		font-size: rem(20);
	}
}

.label-screen.label-screen_3 {
	padding: rem(20);
	.label-screen__name {
		font-size: rem(20);
	}
}

.label-screen.label-screen_4 {
	padding: rem(20);
	.label-screen__name {
		font-size: rem(20);
	}
}